.hall {
    display: block;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.row_marker {
    position: absolute;
    z-index: -1;
}

.seat {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #7d6b6b;
    margin: 2px;
}

.active:hover {
    background-color: antiquewhite;
}